# Dependency directories
node_modules/
jspm_packages/

# Build output
build/
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
*.pid
*.seed
*.pid.lock

# IDE and editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
coverage/
*.tgz
.pnp/
.pnp.js
.yarn-integrity
.eslintcache
.node_repl_history